<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" th:href="@{/}">
      <img src="/images/favicon/logo.png" alt="Logo de RollerSpeed" width="120" height="120" class="d-inline-block align-text-top">
    </a>

    <!-- Botón para colapsar el navbar en dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Corporativo -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarCorporativo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Corporativo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarCorporativo">
            <li><a class="dropdown-item" th:href="@{/mision}">Misión</a></li>
            <li><a class="dropdown-item" th:href="@{/vision}">Visión</a></li>
            <li><a class="dropdown-item" th:href="@{/valores}">Valores</a></li>
            <li><a class="dropdown-item" th:href="@{/servicios}">Servicios</a></li>
          </ul>
        </li>

        <!-- Eventos -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/eventos}">Eventos de la Escuela</a>
        </li>

        <!-- Registro -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarRegistro" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registro
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarRegistro">
            <li><a class="dropdown-item" th:href="@{/inscripcion-estudiantes}">Inscripción de Estudiantes</a></li>
            <li><a class="dropdown-item" th:href="@{/inscripcion-instructores}">Inscripción de Instructor</a></li>
          </ul>
        </li>

        <!-- Clases -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/clases}">Clases</a>
        </li>

    </div>
  </div>
</nav>
